extends base.pug
include mixin/video

block content
    video(src="/" + video.fileUrl, controls)
    div
        p=video.description
        small=video.createdAt
    div 
        small Uploaded by 
            a(href=`/users/${video.owner._id}`)= video.owner.name
    if loggedinUser
        if video.owner._id.toString() === loggedinUser._id
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;